<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/Assets/Client/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/animate.css">

    <link rel="stylesheet" href="/Assets/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/magnific-popup.css">

    <link rel="stylesheet" href="/Assets/Client/css/aos.css">

    <link rel="stylesheet" href="/Assets/Client/css/ionicons.min.css">

    <link rel="stylesheet" href="/Assets/Client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Assets/Client/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/Assets/Client/css/flaticon.css">
    <link rel="stylesheet" href="/Assets/Client/css/icomoon.css">
    <link rel="stylesheet" href="/Assets/Client/css/style.css">
</head>

<body class="goto-here">
    <!-- nav -->
    @RenderPage("_Navigation.cshtml")
    <!-- END nav -->

    <!-- carosel -->
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
            <div class="slider-item" style="background-image: url(/Assets/Client/images/hambuger.jpeg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
                            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
                            <p><a href="#" class="btn btn-primary">View Details</a></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image: url(/Assets/Client/images/trasua.jpeg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-sm-12 ftco-animate text-center">
                            <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
                            <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
                            <p><a href="#" class="btn btn-primary">View Details</a></p>
                        </div>

                    </div>
                </div>
            </div>

            
        </div>
    </section>

    @RenderBody()

    <hr>

    <!-- Footer -->

    @RenderPage("_Footer.cshtml")



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="/Assets/Client/js/jquery.min.js"></script>
    <script src="/Assets/Client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Assets/Client/js/popper.min.js"></script>
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script src="/Assets/Client/js/jquery.easing.1.3.js"></script>
    <script src="/Assets/Client/js/jquery.waypoints.min.js"></script>
    <script src="/Assets/Client/js/jquery.stellar.min.js"></script>
    <script src="/Assets/Client/js/owl.carousel.min.js"></script>
    <script src="/Assets/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="/Assets/Client/js/aos.js"></script>
    <script src="/Assets/Client/js/jquery.animateNumber.min.js"></script>
    <script src="/Assets/Client/js/bootstrap-datepicker.js"></script>
    <script src="/Assets/Client/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/Assets/Client/js/google-map.js"></script>
    <script src="/Assets/Client/js/main.js"></script>

</body>
</html>

